@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:480px) {
    
    .card{
        margin: auto;
        
    }
    .head-list{
        /* display: none; */
    }
    .res-category{
        width: 100%;
        margin: auto;
        
    }
    .login , .login input, button{
        width: 90%;

    }
    .cart{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}